<template name="ideaList">
    <div class="wrapper">
        <div class="row">
            <button type="button" class="btn btn-primary" data-behavior="show-add-idea-form" data-id="0">Add {{#if root_ideas}} new Ideas{{else}}Idea{{/if}}</button>
            <ul class="idea-list" {{#if root_ideas}}data-sortable="votes"{{/if}}>
            {{#each root_ideas}}
                {{> ideaItem}}
            {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="ideaItem">
    <li data-votes="{{votes_average}}">
        <div class="name-options-wrapper" data-id="{{_id}}">
            <div class="idea-name" data-behavior="{{#if show_children _id}}collapse-idea{{else}}expand-idea{{/if}}" data-id="{{_id}}">
                {{#if children}}
                <button type="button" class="btn btn-default btn-sm" data-behavior="{{#if show_children _id}}collapse-idea{{else}}expand-idea{{/if}}" data-id="{{_id}}">
                    <span class="glyphicon {{#if show_children _id}}glyphicon-chevron-down{{else}}glyphicon-chevron-right{{/if}}"></span>
                </button>
                {{/if}}

                {{title}}
            </div>
            {{> options}}
        </div>
        <ul class="children" {{#if children}}data-sortable="votes"{{/if}} {{#unless show_children _id}}style="display:none;"{{/unless}}>
            {{> children}}
        </ul>
    </li>
</template>

<template name="children">
    {{#each children}}
        {{> ideaItem}}
    {{/each}}
</template>

<template name="newIdea">
    <form class="form new-idea" data-id="{{object_id}}" data-behavior="add-idea" role="form">
        <label>Add sub idea</label>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Idea name" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Add!</button>
            </span>
        </div>
    </form>
</template>

<template name="options">
    <div class="options">
        <button type="button" class="btn btn-default btn-sm {{up_vote_active}}" data-behavior="vote-up" data-id="{{_id}}" title="Vote Up">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>

        <button type="button" class="btn btn-default btn-sm disabled">{{votes_average}}</button>

        <button type="button" class="btn btn-default btn-sm {{down_vote_active}}" data-behavior="vote-down" data-id="{{_id}}" title="Vote Down">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>

        {{#if ownsIdea}}
        {{#unless children}}
        <button type="button" class="btn btn-default btn-sm" data-behavior="delete-idea" data-id="{{_id}}">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        {{/unless}}
        {{/if}}

        <button type="button" class="btn btn-default btn-sm" data-behavior="show-add-idea-form" data-id="{{_id}}">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</template>
