<template name="ideaList">
	<ul class="idea-list">
	{{#each root_ideas}}
		{{> ideaItem}}
	{{else}}
		<li>Add</li>
	{{/each}}
	</ul>
</template>

<template name="ideaItem">
   	<li{{#if _id}} data-id="{{_id}}"{{/if}}>
   		<button data-behavior="add-idea"><span class="glyphicon glyphicon-plus"></span></button>
   		{{name}}
   	</li>
</template>

<template name="newIdea">
    <form class="form" data-object-id="{object_id}">
    	<input type="text" />
    	<input type="submit" name="Add" />
    </form>
</template>