<template name="landing">
	<div class="wrapper">
        <div class="row">
        	<div class="jumbotron welcome">
        	  <p>inspires.io is a place where ideas are refined.</p>
        	  <p>For the entrepreneur, visionary, idealist, founder, backer, dreamer, enthusiast.<br />This website is for you!</p>
        	  <p>We want to help people like you collaborate on new ideas.</p>
        	  <p>See our list of ideas for inspiration, to collaborate please log in.</p>
        	</div>
        </div>
    </div>
    {{> ideaList}}
</template>