<template name="register">
    {{#if inSignupFlow}}
        {{> user_register}}
    {{else}}
        {{> user_login}}
    {{/if}}
</template>

<template name="user_register">
    <form class="landing-form" action="#" id="register-form" data-validate="parsley">
        <div class="field">
            <input class="text-input landing-form__field" id="register-name" type="text" placeholder="Your Name" data-required="true">
        </div>
        <div class="field">
            <input class="text-input landing-form__field" id="register-username" type="text" placeholder="username" data-required="true">
        </div>
        <div class="field">
            <input class="text-input landing-form__field" id="register-email" type="email" placeholder="email@me.com" data-trigger="change" data-required="true" data-type="email">
        </div>
        <div class="field">
            <input class="text-input landing-form__field" id="register-password" type="password" placeholder="password" data-required="true">
        </div>
        <a href="#" class="button form__button" id="login-link">Login</a>
        <button class="button landing-form__button form__button" id="register">Join</button>
    </form>
</template>


<template name="user_login">
    <form class="landing-form" action="#" id="login-form" data-validate="parsley">
        <div class="field">
            <input class="text-input landing-form__field" id="login-username" type="text" placeholder="username" data-required="true">
        </div>
        <div class="field">
            <input class="text-input landing-form__field" id="login-password" type="password" placeholder="password" data-required="true">
        </div>
        <a href="#" class="button form__button" id="join-link">Join</a>
        <button class="button landing-form__button form__button" id="register">Login</button>
    </form>
</template>
