<template name="about">
    <div class="wrapper about-page">
        <div class="row">
            <div class="col-md-12">
                <h2 class="meet-team-header">Meet the team</h2>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="/images/portraits/Rafael-Corral.jpg" alt="Rafael Corral portrait" />
                    <p>
                        <h3>Rafael Corral</h3>

                        <a href="http://twitter.com/rcorral">@rcorral</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="/images/portraits/Jon-Kuperman.jpg" alt="Jon Kuperman portrait" />
                    <p>
                        <h3>Jon Kuperman</h3>

                        <a href="http://twitter.com/thecodeplanet">@thecodeplanet</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="/images/portraits/Kelly-King.jpg" alt="Kelly King portrait" />
                    <p>
                        <h3>Kelly King</h3>

                        <a href="http://twitter.com/aiwdesign">@aiwdesign</a>
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <h2>About</h2>
                <p class="lead">We are entrepreneurs at heart, so we wanted to build a website that allowed us and our friends to share new ideas, with the purpose of refining them by collaborating with each other.</p>
                <p class="lead">We would love to help others refine their ideas, we want to help drive innovation and we feel this website can help.</p>
            </div>
        </div>
    </div>
</template>