<template name="ideaGroups">
    <div class="wrapper">
    {{#each idea_groups}}
        {{> ideaList}}
    {{/each}}
    </div>
</template>

<template name="ideaList">
    <div class="row idea-group">
        <div class="col-md-12">
            <p class="group-info">{{idea_count}} <span>updated {{date_display}}</span></p>
            <ul class="idea-list" {{#if root_ideas}}data-sortable="votes"{{/if}}>
            {{#each root_ideas}}
                {{> ideaItem}}
            {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="ideaItem">
    <li data-votes="{{votes_average}}">
        <div class="idea-wrapper" data-idea-wrapper="{{_id}}" data-id="{{_id}}">
            <div class="idea-name{{class}}" {{#if children}}data-behavior="{{#if show_children _id}}collapse-idea{{else}}expand-idea{{/if}}" data-id="{{_id}}"{{/if}}>
                {{#if children}}
                    <i class="open-idea fa {{#if show_children _id}}fa-chevron-down{{else}}fa-chevron-up up{{/if}}"></i>
                {{/if}}

                {{{title}}}

                <span class="sub-idea-count">{{sub_idea_count}}</span>
            </div>
            {{> options}}
        </div>
        <ul class="children" data-children-for-id="{{_id}}" {{#if children}}data-sortable="votes"{{/if}} {{#unless show_children _id}}style="display:none;"{{/unless}}>
            {{> children}}
        </ul>
    </li>
</template>

<template name="children">
    {{#each children}}
        {{> ideaItem}}
    {{/each}}
</template>

<template name="newIdea">
    <div class="form-wrapper">
        <div class="form-arrow"></div>
        <form class="form new-idea{{class}}" data-id="{{object_id}}" data-behavior="add-idea" role="form">
            <div class="input-group">
                <input class="form-control input-lg" type="text" placeholder="{{add_idea_text}}" />
                <span class="input-group-btn">
                    <button class="btn btn-success btn-lg" type="submit">{{add_btn_text}}</button>
                </span>
            </div>
        </form>
    </div>
</template>

<template name="options">
    <div class="options">
        {{#if currentUser}}
        <div class="extra-actions">
            {{#if canDelete}}
            <button type="button" class="btn btn-default btn-sm" data-behavior="delete-idea" data-id="{{_id}}">
                Remove
            </button>
            {{/if}}

            <button type="button" class="btn btn-default btn-sm" data-behavior="show-add-idea-form" data-id="{{_id}}">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        {{/if}}

        <button type="button" class="btn btn-default btn-sm {{up_vote_active}}" data-behavior="vote-up" data-id="{{_id}}" title="Vote Up">
            <i class="fa fa-thumbs-o-up"></i>
        </button>

        <button type="button" class="btn btn-default btn-sm disabled" data-votes="{{votes_average}}">{{votes_average}}</button>

        <button type="button" class="btn btn-default btn-sm {{down_vote_active}}" data-behavior="vote-down" data-id="{{_id}}" title="Vote Down">
          <i class="fa fa-thumbs-o-down"></i>
        </button>
    </div>
</template>
