<template name="ideaList">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <ul class="idea-list" {{#if root_ideas}}data-sortable="votes"{{/if}}>
                {{#each root_ideas}}
                    {{> ideaItem}}
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>

<template name="ideaItem">
    <li data-votes="{{votes_average}}">
        <div class="name-options-wrapper" data-id="{{_id}}">
            <div class="idea-name" {{#if children}}data-behavior="{{#if show_children _id}}collapse-idea{{else}}expand-idea{{/if}}" data-id="{{_id}}"{{/if}}>
                {{#if children}}
                    <i class="open-idea fa {{#if show_children _id}}fa-chevron-down{{else}}fa-chevron-up up{{/if}}"></i>
                {{/if}}

                {{title}}
            </div>
            {{> options}}
        </div>
        <ul class="children" data-children-for-id="{{_id}}" {{#if children}}data-sortable="votes"{{/if}} {{#unless show_children _id}}style="display:none;"{{/unless}}>
            {{> children}}
        </ul>
    </li>
</template>

<template name="children">
    {{#each children}}
        {{> ideaItem}}
    {{/each}}
</template>

<template name="newIdea">
    <form class="form new-idea" data-id="{{object_id}}" data-behavior="add-idea" role="form">
        <label>{{add_idea_text}}</label>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Idea name" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Add!</button>
            </span>
        </div>
    </form>
</template>

<template name="options">
    <div class="options">
        {{#if currentUser}}
        <div class="extra-actions">
            {{#if canDelete}}
            <button type="button" class="btn btn-default btn-sm" data-behavior="delete-idea" data-id="{{_id}}">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            {{/if}}

            <button type="button" class="btn btn-default btn-sm" data-behavior="show-add-idea-form" data-id="{{_id}}">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        {{/if}}

        <button type="button" class="btn btn-default btn-sm {{up_vote_active}}" data-behavior="vote-up" data-id="{{_id}}" title="Vote Up">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>

        <button type="button" class="btn btn-default btn-sm disabled" data-votes="{{votes_average}}">{{votes_average}}</button>

        <button type="button" class="btn btn-default btn-sm {{down_vote_active}}" data-behavior="vote-down" data-id="{{_id}}" title="Vote Down">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
    </div>
</template>
