@import "compass/css3";
@import "compass/utilities";
@import "retina";
// Add bootstrap
@import "variables";
@import "bootstrap";

/**
 * General styles 
 */
html, body {
	background: #FFF;
	height: 100%;
}
h1 {
	margin-top: 0;
	font-weight: bold;
	font-size: 28px;

	a, a:active, a:focus {
		color: #121D1D;
		outline: 0;
	}
	a:hover {
		color: #444;
	}
}

header {
	background-image: url('/images/header-bg.jpg') !important;
}

.header-info {
	font-family: 'Lato', sans-serif;
	margin-top: 40px;
	color: #fff;
	font-size: 22px;

	h2 {
		font-size: 24px;
		margin-bottom: 5px;
	}
}

.header-add {
	margin-top: 40px;
}

.main-wrap {
	height: auto !important;
	margin: 0 auto -60px;
	min-height: 100%;
	padding: 0 0 60px;
	background: #f1f1f1;
}
.wrapper {
	width: 80%;
	padding: 25px;
	margin: 0 auto;
}
@media screen and (max-width: 800px) {
    .wrapper {
		width: 100%;
    }

    .wrapper .pull-right {
		float: left !important;
    }
}

footer {
    background-color: #444;
    color: #fff;
    height: 60px;
    display: block;

    .container {
	    width: 80%;
    	margin: 0 auto;

		.credit {
			float: right;
        	margin: 20px 0;
		}
		.links {
			float: left;
        	margin: 20px 0;

        	a {
        		color: #fff;
        		margin: 0 5px;
				outline: 0;

        		&:hover {
        			color: #ccc;
        		}
        	}
		}
    }
}

/**
 * Login menu 
 */
a.login-close-text {
	text-indent: -10000px;
}
.sign-in-text-twitter, .sign-in-text-google {
	margin: 0 0 0.5em 0;
	text-indent:-10000px;
	display:inline-block;
	height: 32px;
	width:182px;
	background-repeat: no-repeat;
}
.sign-in-text-google {
	background-image: url('../../images/google-sign-in.png');
    @include image-2x('../../images/google-sign-in2x.png', 182px, 32px);
}
.sign-in-text-twitter {
	background-image: url('../../images/twitter-sign-in.png');
    @include image-2x('../../images/twitter-sign-in2x.png', 182px, 32px);
}
.login-button, .login-close-text, .login-link-text {
	color: #fff;
	cursor: pointer;
}
.login-text-and-button {
	float: right;
}
.login-text-and-button > div {
	float: left;
	padding-right: 10px;
	text-transform: uppercase;
	color: #ddd;
}
.login-text-and-button .login-display-name {
	font-weight: 600;
}
.login-text-and-button #login-buttons-logout {
	font-size: .9em;
	margin-top: 1px;
	font-weight: 200;
	text-decoration: underline;
}

/**
 * Notifications 
 */
.notifications {
	left: 11.3%;
	position: absolute;
	top: 125px;
	width: 350px;
	z-index: 9999;

	.alert {
		margin-bottom: 10px;
	}
}

/**
 * Landing 
 */
.welcome .jumbotron {
	margin-bottom: 0;
}
.name-options-wrapper {
	position: relative;
}
.close-it {
	margin: 10px 10px 0 0;
}

/**
 * Idea list 
 */
button.btn-success {
	background: $green;
	text-transform: uppercase;
	font-size: 1em;
	padding: 0.8em 2em;
}

ul {
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	margin: 0;
	padding: 0;
}
.idea-list {
	ul {
		margin: 0 0 0 2em; /* Add some left margin for inner lists */
		padding: 0 0 0 2em; /* Add some left margin for inner lists */
	}
	li .idea-name {
		position: relative;
		display: inline-block;
		padding: .4em .4em .4em 2em;
		*padding: .4em;
		margin: .25em 0;
		background: #fff;
		color: #444;
		text-decoration: none;
		border-radius: .3em;
		transition: all .3s ease-out;
		border: 1px solid $mediumgray;
		width: 100%;
		min-height: 30px;
		line-height: 30px;
		font-weight: 500;
		-webkit-font-smoothing: antialiased;

		button {
			background-color: transparent;
			border: 0;
		}

		.open-idea {
			cursor: pointer;

			&:hover {
				outline: none;
			}
		}
	}
	li .idea-name:hover {
		border: 1px solid $seafoam;
	}
	li .idea-name:hover + .options > .extra-actions {
		display: block;
	}
	.options {
		float: left;
		top: 11px;
		right: 10px;
		position: absolute;
		.extra-actions {
			float: left;
			display: none;
			margin-right: 5px;
		}
	}
	.options:hover > .extra-actions {
		display: block;
	}
}

form.new-idea {
	min-width: 200px
}
.btn[data-votes] { // default to positive value
	background: $green;
	color: #fff;
	font-weight: bold;
	width: 35px;
	&.disabled {
		opacity: 1;
	}
}
.btn[data-votes^="-"] {
	background: $red;
	color: #fff;
	&.disabled {
		opacity: 1;
	}
}
.btn[data-votes="0"] {
	background: $mediumgray;
	color: $darkgray;
}

/**
 * About 
 */
.about-page {
	padding-top: 10px;

	h2 {
		margin: 35px 0 25px;
		text-decoration: underline;
	}

	h2.meet-team-header {
		margin: 0 0 35px;
	}

	.team-member {
		width: 165px;
		margin: 0 auto;
	}

	img {
		@include border-radius(100px);
		width: 165px;
	}
}
